body {
  margin: 0;
  font-family: "Trade Winds", cursive;
  background-color: #1d2025;
}

.imagenes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imagen {
  position: relative;
  margin-right: -20px;
  display: inline-flex;
  flex-direction: column;
}

.imagen img {
  width: 250px;
  height: 250px;
  transition: transform 0.5s ease-in-out;
  margin: 40px;
}

.nombre {
  font-size: 1.8rem;
  position: absolute;
  color: aliceblue;
  display: none;
  min-width: 100px;
  width: 100px;
  top: -55px;
  left: calc(25%);
}

.text {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  text-align: center;
  box-sizing: border-box;
}

.imagen:hover .nombre {
  display: inline-block;
}

.imagen:hover img {
  transform: translateY(-20px);
}

@media (max-width: 680px) {
  .imagenes-container {
    flex-direction: column;
    height: 200vh;
  }

  .nombre {
    top: -20px;
  }
}
